set autoindent
unset casesensitive
set const
set historylog
set morespace
set nohelp
set preserve
set smooth
set tabsize 4
unset tabstospaces

set brackets ""')>]}"
set matchbrackets "(<[{)>]}"



## 
## Nano editor syntax highlighting enhancements (will be added by setup.sh)
## 


